table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  color: #333;
}


thead {
  background-color: #e9ecef;
}

thead th {
  padding: 1rem;
  text-align: left;
}


tr:nth-child(even) {
  background-color: #f9f9f9;
}

td, th {
  border: 1px solid #ddd;
  padding: 1rem;
}

tbody tr:hover {
  background-color: #e0e0e0;
}
