.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

.right-100 {
  right: 100px;
}

.left-0 {
  left: 0;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.justify-self-end {
  justify-self: end;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 2rem;
}
.box-border {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.border-radius-1 {
  border-radius: 5px;
}

.width-full {
  width: 100%;
}

.max-width-full {
  max-width: 100%;
}

.width-50 {
  width: 50%;
}

.width-90 {
  width: 90%;
}

.width-60 {
  width: 60%;
}

.width-80 {
  width: 80%;
}

.max-width-80 {
  max-width: 80%;
}

.height-full {
  height: 100%;
}

.max-height-full {
  max-height: 100%;
}

.text-bold {
  font-weight: 500;
}

.overflow-auto {
  overflow: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.m-auto {
  margin: auto;
}

.mt-20 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.decoration-none {
  text-decoration: none;
}

.hidden {
  display: none;
}

.rounded-lg {
  border-radius: 10px;
}

.p-4 {
  padding: 1rem;
}

.p-8 {
  padding: 2rem;
}
